<div id="video" class="relative py-20 md:py-24 bg-white dark:bg-gray-800">
  <div class="container xl:max-w-6xl mx-auto px-4">
    <!-- notice -->
    <div class="bg-yellow-100 border-l-4 border-yellow-500 text-yellow-700 p-4 mb-12" role="alert">
      <p class="font-bold">开发者备注</p>
      <p>如果你希望将公司介绍展示出来，请在后台“页面管理”中添加一个“关于我们”的栏目，然后在栏目下添加子页面，注意栏目URL名称必须为：
        <code class="text-red-500 font-bold">about</code> 
      </p>
    </div>
    <!-- end notice -->
    
    <div class="flex flex-wrap flex-row -mx-4">
      <!-- content -->
      <div class="flex-shrink max-w-full px-4 w-full lg:w-1/2 lg:order-2 self-center">
        <div class="mb-12 lg:mb-0 lg:ms-12 lg:pe-6 wow fadeInRight" data-wow-duration="1s" data-wow-delay=".1s">
          <h2 class="text-4xl leading-normal font-bold text-gray-800 dark:text-gray-100 mb-3">Story Behind Our Digital Marketing Agency</h2>
          <p class="text-gray-500 leading-relaxed font-light text-xl mx-auto pb-2 mb-12">Upgency is the leading digital marketing agency in New York. We are striving to provide integrated digital marketing solutions.</p>
          <!-- button -->
          <a href="#" class="py-3 px-5 -ms-1 rounded-md leading-5 text-gray-100 bg-primary-700 border border-primary-700 hover:text-white hover:bg-primary-800 hover:ring-0 hover:border-primary-800 focus:bg-primary-800 focus:border-primary-800 focus:outline-none focus:ring-0 me-3">
            <!-- <i class="fas fa-paper-plane me-1"></i> -->
            <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" class="inline-block me-2" fill="currentColor" viewBox="0 0 512 512"><path d="M53.12,199.94l400-151.39a8,8,0,0,1,10.33,10.33l-151.39,400a8,8,0,0,1-15-.34L229.66,292.45a16,16,0,0,0-10.11-10.11L53.46,215A8,8,0,0,1,53.12,199.94Z" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/><line x1="460" y1="52" x2="227" y2="285" style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px"/></svg>
            Read Story
          </a>
        </div>
      </div><!-- end content -->

      <!-- play -->
      <div class="flex-shrink max-w-full px-4 w-full lg:w-1/2 lg:order-1">
        <div class="relative rounded-md overflow-hidden hover:shadow-xl">
          <img src="{{ 'images/img-min/purple-laptop.jpg' | asset_url }}" class="max-w-full w-full h-auto" alt="background images">
          <div class="absolute start-1/2 top-1/2 transform -translate-y-1/2 -translate-x-1/2 lightgallery-thumbnail">
            <a id="preview-video2" aria-label="Introcluding Upgency" href="https://www.youtube.com/watch?v=nOsKM0cb0qE" class="p-5 rounded-full leading-5 text-gray-800 bg-gray-100 border border-gray-100 hover:text-gray-900 hover:ring-0 hover:border-gray-200 focus:bg-gray-200 focus:border-gray-200 focus:outline-none focus:ring-0 relative">
              <svg class="bi bi-play-fill inline-block" width="1.5rem" height="1.5rem" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 010 1.393z"></path>
              </svg>
            </a>
          </div>
        </div>
      </div><!-- end team -->
    </div>
  </div>
</div>