<div id="partner-brand" class="relative py-16 bg-white dark:bg-gray-800">
      <div class="container xl:max-w-6xl mx-auto px-4">
        <div class="lex flex-wrap flex-row -mx-4 justify-center">
          <div class="w-full px-4">
            <!-- slider brand -->
            <div class="nav-dark-button" data-flickity='{ "cellAlign": "left", "wrapAround": true, "adaptiveHeight": true, "pageDots": false, "imagesLoaded": true }'>
              <div class="flex-shrink max-w-full w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 py-4 lg:py-1 px-6 lg:px-12 text-center">
                <a href="#" target="_blank">
                  <img class="brands-image mx-auto opacity-80 hover:opacity-100 max-w-full h-auto" src="/-/theme-assets/eyJ0aGVtZV9zY29wZSI6ImNtcyIsInRoZW1lX25hbWUiOiJ0YWlscHJvIiwiYXNzZXRfb2lkIjoiZmFrZS1vaWQiLCJwYXRoIjoiaW1hZ2VzL2ltZy1taW4vaW1nMS5wbmcifQ--bbe5441ee1a55524fcb933b1b213a4530275848c52afc048a9f3c466802189d7/images/img-min/img1.png" alt="Image Description">
                </a>
              </div>
              <div class="flex-shrink max-w-full w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 py-4 lg:py-1 px-6 lg:px-12 text-center">
                <a href="#" target="_blank">
                  <img class="brands-image mx-auto opacity-80 hover:opacity-100 max-w-full h-auto" src="/-/theme-assets/eyJ0aGVtZV9zY29wZSI6ImNtcyIsInRoZW1lX25hbWUiOiJ0YWlscHJvIiwiYXNzZXRfb2lkIjoiZmFrZS1vaWQiLCJwYXRoIjoiaW1hZ2VzL2ltZy1taW4vaW1nMi5wbmcifQ--4e6ae4b51d2ba81074f56be3267df855b4fe9f6a9916c693a07c47730f62b297/images/img-min/img2.png" alt="Image Description">
                </a>
              </div>
              <div class="flex-shrink max-w-full w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 py-4 lg:py-1 px-6 lg:px-12 text-center">
                <a href="#" target="_blank">
                  <img class="brands-image mx-auto opacity-80 hover:opacity-100 max-w-full h-auto" src="/-/theme-assets/eyJ0aGVtZV9zY29wZSI6ImNtcyIsInRoZW1lX25hbWUiOiJ0YWlscHJvIiwiYXNzZXRfb2lkIjoiZmFrZS1vaWQiLCJwYXRoIjoiaW1hZ2VzL2ltZy1taW4vaW1nMy5wbmcifQ--93939902c1e89e7efc21a54273ebc9ae3a645d29ff87b88b2118ab57c08042ec/images/img-min/img3.png" alt="Image Description">
                </a>
              </div>
              <div class="flex-shrink max-w-full w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 py-4 lg:py-1 px-6 lg:px-12 text-center">
                <a href="#" target="_blank">
                  <img class="brands-image mx-auto opacity-80 hover:opacity-100 max-w-full h-auto" src="/-/theme-assets/eyJ0aGVtZV9zY29wZSI6ImNtcyIsInRoZW1lX25hbWUiOiJ0YWlscHJvIiwiYXNzZXRfb2lkIjoiZmFrZS1vaWQiLCJwYXRoIjoiaW1hZ2VzL2ltZy1taW4vaW1nNC5wbmcifQ--2f249f8563863aefea3c364d1c364266947097d50148f49f0e93587d73256f84/images/img-min/img4.png" alt="Image Description">
                </a>
              </div>
              <div class="flex-shrink max-w-full w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 py-4 lg:py-1 px-6 lg:px-12 text-center">
                <a href="#" target="_blank">
                  <img class="brands-image mx-auto opacity-80 hover:opacity-100 max-w-full h-auto" src="/-/theme-assets/eyJ0aGVtZV9zY29wZSI6ImNtcyIsInRoZW1lX25hbWUiOiJ0YWlscHJvIiwiYXNzZXRfb2lkIjoiZmFrZS1vaWQiLCJwYXRoIjoiaW1hZ2VzL2ltZy1taW4vaW1nNS5wbmcifQ--9f5a71543649989befc06095288cd5b3603b9b9c02763187e72244fab40d4d98/images/img-min/img5.png" alt="Image Description">
                </a>
              </div>
              <div class="flex-shrink max-w-full w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 py-4 lg:py-1 px-6 lg:px-12 text-center">
                <a href="#" target="_blank">
                  <img class="brands-image mx-auto opacity-80 hover:opacity-100 max-w-full h-auto" src="/-/theme-assets/eyJ0aGVtZV9zY29wZSI6ImNtcyIsInRoZW1lX25hbWUiOiJ0YWlscHJvIiwiYXNzZXRfb2lkIjoiZmFrZS1vaWQiLCJwYXRoIjoiaW1hZ2VzL2ltZy1taW4vaW1nNi5wbmcifQ--6653971a8b6cd1de70a855f6978797c8b9b0b641b014e3a5fc303b6ee16920da/images/img-min/img6.png" alt="Image Description">
                </a>
              </div>
            </div><!-- end slider brand -->
          </div>
        </div>
      </div>
    </div>