<div id="service" class="relative pt-16 md:pt-24 bg-white dark:bg-gray-800">
      <div class="container xl:max-w-6xl mx-auto px-4">
        <!-- section header -->
        <header class="text-center mx-auto mb-12 lg:px-20">
          <h2 class="text-2xl md:text-3xl leading-normal mb-2 font-bold text-gray-800 dark:text-gray-100">What We Do Best</h2>
          <hr class="block w-12 h-0.5 mx-auto my-5 bg-primary-700 border-primary-700">
        </header><!-- end section header -->

        <!-- row -->
        <div class="flex flex-wrap flex-row text-center">
          <div class="flex-shrink max-w-full w-full md:w-1/2 lg:w-1/3">
            <!-- service block -->
            <div class="bg-white dark:bg-gray-800 p-16">
              <div class="inline-block text-primary-700 mb-2">
                <!-- icon -->
                <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" fill="currentColor" class="bi bi-laptop" viewBox="0 0 16 16">
                  <path d="M13.5 3a.5.5 0 0 1 .5.5V11H2V3.5a.5.5 0 0 1 .5-.5h11zm-11-1A1.5 1.5 0 0 0 1 3.5V12h14V3.5A1.5 1.5 0 0 0 13.5 2h-11zM0 12.5h16a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5z"/>
                </svg>
              </div>
              <h3 class="text-lg leading-normal mb-2 font-semibold text-gray-700">Web Design</h3>
              <p>Lorem ipsum is dummy text used in laying out print, graphic or web designs.</p>
            </div><!-- end service block -->
          </div>

          <div class="flex-shrink max-w-full w-full md:w-1/2 lg:w-1/3">
            <!-- service block -->
            <div class="bg-gray-50 dark:bg-gray-900 dark:bg-opacity-20 p-16">
              <div class="inline-block text-primary-700 mb-2">
                <!-- icon -->
                <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" fill="currentColor" class="bi bi-code-square" viewBox="0 0 16 16">
                  <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                  <path d="M6.854 4.646a.5.5 0 0 1 0 .708L4.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0zm2.292 0a.5.5 0 0 0 0 .708L11.793 8l-2.647 2.646a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708 0z"/>
                </svg>
              </div>
              <h3 class="text-lg leading-normal mb-2 font-semibold text-gray-700">Web Development</h3>
              <p>Lorem ipsum is dummy text used in laying out print, graphic or web designs.</p>
            </div><!-- end service block -->
          </div>

          <div class="flex-shrink max-w-full w-full md:w-1/2 lg:w-1/3">
            <!-- service block -->
            <div class="bg-white dark:bg-gray-800 p-16">
              <div class="inline-block text-primary-700 mb-2">
                <!-- icon -->
                <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>

              </div>
              <h3 class="text-lg leading-normal mb-2 font-semibold text-gray-700">SEO Service</h3>
              <p>Lorem ipsum is dummy text used in laying out print, graphic or web designs.</p>
            </div><!-- end service block -->
          </div>

          <div class="flex-shrink max-w-full w-full md:w-1/2 lg:w-1/3">
            <!-- service block -->
            <div class="bg-gray-50 dark:bg-gray-900 dark:bg-opacity-20 p-16">
              <div class="inline-block text-primary-700 mb-2">
                <!-- icon -->
                <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" fill="currentColor" class="bi bi-gear" viewBox="0 0 16 16">
                  <path d="M8 4.754a3.246 3.246 0 1 0 0 6.492 3.246 3.246 0 0 0 0-6.492zM5.754 8a2.246 2.246 0 1 1 4.492 0 2.246 2.246 0 0 1-4.492 0z"/>
                  <path d="M9.796 1.343c-.527-1.79-3.065-1.79-3.592 0l-.094.319a.873.873 0 0 1-1.255.52l-.292-.16c-1.64-.892-3.433.902-2.54 2.541l.159.292a.873.873 0 0 1-.52 1.255l-.319.094c-1.79.527-1.79 3.065 0 3.592l.319.094a.873.873 0 0 1 .52 1.255l-.16.292c-.892 1.64.901 3.434 2.541 2.54l.292-.159a.873.873 0 0 1 1.255.52l.094.319c.527 1.79 3.065 1.79 3.592 0l.094-.319a.873.873 0 0 1 1.255-.52l.292.16c1.64.893 3.434-.902 2.54-2.541l-.159-.292a.873.873 0 0 1 .52-1.255l.319-.094c1.79-.527 1.79-3.065 0-3.592l-.319-.094a.873.873 0 0 1-.52-1.255l.16-.292c.893-1.64-.902-3.433-2.541-2.54l-.292.159a.873.873 0 0 1-1.255-.52l-.094-.319zm-2.633.283c.246-.835 1.428-.835 1.674 0l.094.319a1.873 1.873 0 0 0 2.693 1.115l.291-.16c.764-.415 1.6.42 1.184 1.185l-.159.292a1.873 1.873 0 0 0 1.116 2.692l.318.094c.835.246.835 1.428 0 1.674l-.319.094a1.873 1.873 0 0 0-1.115 2.693l.16.291c.415.764-.42 1.6-1.185 1.184l-.291-.159a1.873 1.873 0 0 0-2.693 1.116l-.094.318c-.246.835-1.428.835-1.674 0l-.094-.319a1.873 1.873 0 0 0-2.692-1.115l-.292.16c-.764.415-1.6-.42-1.184-1.185l.159-.291A1.873 1.873 0 0 0 1.945 8.93l-.319-.094c-.835-.246-.835-1.428 0-1.674l.319-.094A1.873 1.873 0 0 0 3.06 4.377l-.16-.292c-.415-.764.42-1.6 1.185-1.184l.292.159a1.873 1.873 0 0 0 2.692-1.115l.094-.319z"/>
                </svg>
              </div>
              <h3 class="text-lg leading-normal mb-2 font-semibold text-gray-700">Web Maintenance</h3>
              <p>Lorem ipsum is dummy text used in laying out print, graphic or web designs.</p>
            </div><!-- end service block -->
          </div>

          <div class="flex-shrink max-w-full w-full md:w-1/2 lg:w-1/3">
            <!-- service block -->
            <div class="bg-white dark:bg-gray-800 p-16">
              <div class="inline-block text-primary-700 mb-2">
                <!-- icon -->
                <svg xmlns="http://www.w3.org/2000/svg" width="3rem" height="3rem" fill="currentColor" class="bi bi-phone" viewBox="0 0 16 16">
                  <path d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h6zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z"/>
                  <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                </svg>
              </div>
              <h3 class="text-lg leading-normal mb-2 font-semibold text-gray-700">Mobile Web Design</h3>
              <p>Lorem ipsum is dummy text used in laying out print, graphic or web designs.</p>
            </div><!-- end service block -->
          </div>

          <div class="flex-shrink max-w-full w-full md:w-1/2 lg:w-1/3">
            <!-- service block -->
            <div class="bg-gray-50 dark:bg-gray-900 dark:bg-opacity-20 p-16">
              <div class="inline-block text-primary-700 mb-2">
                <!-- icon -->
                <svg xmlns="http://www.w3.org/2000/svg" class="text-primary" width="4rem" height="4rem" fill="currentColor" viewBox="0 0 512 512"><path d="M330.7,352l77.72-192H356.9L303.74,284.07,265.93,160H226.32L185.74,284.07l-28.63-56.53L131.21,307l26.3,45h50.7l36.68-111.27,35,111.27Z"></path><path d="M48.79,286.09H80.44a93.39,93.39,0,0,0,25.62-3.21l8.18-25.19,22.88-70.39a55.75,55.75,0,0,0-6-7.82Q113.54,160,79.59,160H0V352H48.79Zm41.9-81.92q6.89,6.92,6.88,18.52t-6,18.53q-6.64,7.62-24.44,7.61H48.79V197.25H67.21q16.59,0,23.48,6.92ZM376.85,317.61l14.79-37.25h42.69l-20.26-56.51L439.41,160,512,352H458.47l-12.4-34.39Z"></path></svg>
              </div>
              <h3 class="text-lg leading-normal mb-2 font-semibold text-gray-700">Web Vital Optimize</h3>
              <p>Lorem ipsum is dummy text used in laying out print, graphic or web designs.</p>
            </div><!-- end service block -->
          </div>
        </div><!-- end row -->
      </div>
    </div><!-- End Service -->