{%# 带面包屑的标题 Hero %}

{% assign default_hero_bg = 'images/img-min/bg-planet.jpg' | asset_url %}
{% if item.settings.thumb_image_url %}
    {% assign hero_bg = item.settings.thumb_image_url %}
{% elsif item.parent.settings.thumb_image_url %}
    {% assign hero_bg = item.parent.settings.thumb_image_url %}
{% else %}
    {% assign hero_bg = default_hero_bg %}
{% endif %}

<div id="hero" class="relative pt-12 pb-32 jarallax">
  <!-- background parallax -->
  <img class="jarallax-img" src="{{ hero_bg }}" alt="title">
  <!-- background overlay -->
  <div class="absolute top-0 start-0 w-full h-full opacity-80 bg-primary" style="z-index:-1;"></div>

  <div class="container xl:max-w-6xl mx-auto px-4">
    <div class="flex flex-wrap flex-row -mx-4 items-center justify-center">
      <!-- content -->
      <div class="max-w-full w-full lg:w-7/12 px-4">
        <div class="mt-0 pt-6 text-center">
          <h1 class="text-2xl md:text-3xl leading-normal font-semibold text-white">{{ item.link_text }}</h1>    
          <hr class="block w-12 h-0.5 mx-auto my-3 bg-secondary border-secondary">
          <p class="text-gray-200" data-aos="fade-down" data-aos-delay="200">{{ item.settings.description }}</p>    
        </div>
        <div class="container mx-auto justify-center items-center text-center">
            {%# render 'breadcrumb', breadcrumb: item.breadcrumb  %}
        </div>
        
      </div><!-- end content -->
    </div>
  </div>
</div><!-- End hero -->