{% assign pages = site.pages['/'].children_in_list %}


  <div class="mx-auto max-w-5xl bg-white rounded-xl p-8">
    <h1 class="text-2xl font-bold text-gray-900 md:text-2xl lg:text-3xl md:leading-tight">Pages</h1>
    <div class="grid grid-cols-1 gap-8 pt-8 md:grid-cols-2 xl:grid-cols-3 lg:gap-12 ">

      <div>
        <a href="/s/aboutus" class="group focus:outline-none">
          <div class="relative">
            <div
              class="absolute inset-0 flex items-center justify-center transition-opacity duration-300 bg-white bg-opacity-25 opacity-0 group-hover:opacity-100 ">
              <span
                class="px-2 py-2 text-xs font-semibold tracking-wider text-gray-500 uppercase duration-300 scale-50 bg-white rounded-lg shadow-lg group-hover:scale-100 ">View
                Code</span>
            </div>

          </div>
          <span class="block mt-4 font-semibold tracking-wider text-left text-gray-600">About us</span>
        </a>

      </div>


      <div>
        <a href="/s/blog-article" class="group focus:outline-none">
          <div class="relative">
            <div
              class="absolute inset-0 flex items-center justify-center transition-opacity duration-300 bg-white bg-opacity-25 opacity-0 group-hover:opacity-100 ">
              <span
                class="px-2 py-2 text-xs font-semibold tracking-wider text-gray-500 uppercase duration-300 scale-50 bg-white rounded-lg shadow-lg group-hover:scale-100 ">View
                Code</span>
            </div>

          </div>
          <span class="block mt-4 font-semibold tracking-wider text-left text-gray-600">Blog Article</span>
        </a>

      </div>


      <div>
        <a href="/s/blog-overview" class="group focus:outline-none">
          <div class="relative">
            <div
              class="absolute inset-0 flex items-center justify-center transition-opacity duration-300 bg-white bg-opacity-25 opacity-0 group-hover:opacity-100 ">
              <span
                class="px-2 py-2 text-xs font-semibold tracking-wider text-gray-500 uppercase duration-300 scale-50 bg-white rounded-lg shadow-lg group-hover:scale-100 ">View
                Code</span>
            </div>

          </div>
          <span class="block mt-4 font-semibold tracking-wider text-left text-gray-600">Blog Overview</span>
        </a>

      </div>


      <div>
        <a href="/s/changelog" class="group focus:outline-none">
          <div class="relative">
            <div
              class="absolute inset-0 flex items-center justify-center transition-opacity duration-300 bg-white bg-opacity-25 opacity-0 group-hover:opacity-100 ">
              <span
                class="px-2 py-2 text-xs font-semibold tracking-wider text-gray-500 uppercase duration-300 scale-50 bg-white rounded-lg shadow-lg group-hover:scale-100 ">View
                Code</span>
            </div>

          </div>
          <span class="block mt-4 font-semibold tracking-wider text-left text-gray-600">Changelog</span>
        </a>

      </div>


      <div>
        <a href="/s/contact" class="group focus:outline-none">
          <div class="relative">
            <div
              class="absolute inset-0 flex items-center justify-center transition-opacity duration-300 bg-white bg-opacity-25 opacity-0 group-hover:opacity-100 ">
              <span
                class="px-2 py-2 text-xs font-semibold tracking-wider text-gray-500 uppercase duration-300 scale-50 bg-white rounded-lg shadow-lg group-hover:scale-100 ">View
                Code</span>
            </div>

          </div>
          <span class="block mt-4 font-semibold tracking-wider text-left text-gray-600">Contact page</span>
        </a>

      </div>


      <div>
        <a href="/s/feature" class="group focus:outline-none">
          <div class="relative">
            <div
              class="absolute inset-0 flex items-center justify-center transition-opacity duration-300 bg-white bg-opacity-25 opacity-0 group-hover:opacity-100 ">
              <span
                class="px-2 py-2 text-xs font-semibold tracking-wider text-gray-500 uppercase duration-300 scale-50 bg-white rounded-lg shadow-lg group-hover:scale-100 ">View
                Code</span>
            </div>

          </div>
          <span class="block mt-4 font-semibold tracking-wider text-left text-gray-600">Feature</span>
        </a>

      </div>


      <div>
        <a href="/s/homepage" class="group focus:outline-none">
          <div class="relative">
            <div
              class="absolute inset-0 flex items-center justify-center transition-opacity duration-300 bg-white bg-opacity-25 opacity-0 group-hover:opacity-100 ">
              <span
                class="px-2 py-2 text-xs font-semibold tracking-wider text-gray-500 uppercase duration-300 scale-50 bg-white rounded-lg shadow-lg group-hover:scale-100 ">View
                Code</span>
            </div>

          </div>
          <span class="block mt-4 font-semibold tracking-wider text-left text-gray-600">Homepage</span>
        </a>

      </div>


      <div>
        <a href="/s/modal-example" class="group focus:outline-none">
          <div class="relative">
            <div
              class="absolute inset-0 flex items-center justify-center transition-opacity duration-300 bg-white bg-opacity-25 opacity-0 group-hover:opacity-100 ">
              <span
                class="px-2 py-2 text-xs font-semibold tracking-wider text-gray-500 uppercase duration-300 scale-50 bg-white rounded-lg shadow-lg group-hover:scale-100 ">View
                Code</span>
            </div>

          </div>
          <span class="block mt-4 font-semibold tracking-wider text-left text-gray-600">Modal Example</span>
        </a>

      </div>


      <div>
        <a href="/s/pricing" class="group focus:outline-none">
          <div class="relative">
            <div
              class="absolute inset-0 flex items-center justify-center transition-opacity duration-300 bg-white bg-opacity-25 opacity-0 group-hover:opacity-100 ">
              <span
                class="px-2 py-2 text-xs font-semibold tracking-wider text-gray-500 uppercase duration-300 scale-50 bg-white rounded-lg shadow-lg group-hover:scale-100 ">View
                Code</span>
            </div>

          </div>
          <span class="block mt-4 font-semibold tracking-wider text-left text-gray-600">Pricing</span>
        </a>

      </div>


      <div>
        <a href="/s/sidebar-menu" class="group focus:outline-none">
          <div class="relative">
            <div
              class="absolute inset-0 flex items-center justify-center transition-opacity duration-300 bg-white bg-opacity-25 opacity-0 group-hover:opacity-100 ">
              <span
                class="px-2 py-2 text-xs font-semibold tracking-wider text-gray-500 uppercase duration-300 scale-50 bg-white rounded-lg shadow-lg group-hover:scale-100 ">View
                Code</span>
            </div>

          </div>
          <span class="block mt-4 font-semibold tracking-wider text-left text-gray-600">Sidebar menu</span>
        </a>

      </div>

      <div>
        <a href="/s/support-article" class="group focus:outline-none">
          <div class="relative">
            <div
              class="absolute inset-0 flex items-center justify-center transition-opacity duration-300 bg-white bg-opacity-25 opacity-0 group-hover:opacity-100 ">
              <span
                class="px-2 py-2 text-xs font-semibold tracking-wider text-gray-500 uppercase duration-300 scale-50 bg-white rounded-lg shadow-lg group-hover:scale-100 ">View
                Code</span>
            </div>

          </div>
          <span class="block mt-4 font-semibold tracking-wider text-left text-gray-600">Support Article</span>
        </a>

      </div>


      <div>
        <a href="/s/support-overview" class="group focus:outline-none">
          <div class="relative">
            <div
              class="absolute inset-0 flex items-center justify-center transition-opacity duration-300 bg-white bg-opacity-25 opacity-0 group-hover:opacity-100 ">
              <span
                class="px-2 py-2 text-xs font-semibold tracking-wider text-gray-500 uppercase duration-300 scale-50 bg-white rounded-lg shadow-lg group-hover:scale-100 ">View
                Code</span>
            </div>

          </div>
          <span class="block mt-4 font-semibold tracking-wider text-left text-gray-600">Support Overview</span>
        </a>

      </div>

    </div>
  </div>


{% schema %}
    {
        "name": "Index",
        "description": "Index Style",
        "thumb_url": "images/theme/index.png",
        "preview_image_urls": [
        "images/theme/index.png"
        ],
        "sub_page_templates": ["page"]
    }
{% endschema %}


